extends layout

block content
  h1= title
  p Welcome to All The Backend

  a(href='/v1/self-backend/users') users
  br
  a(href='/v1/self-backend/todolist') todolist
  br
  a(href='/v1/self-backend/bookstore') bookstore
  br
  a(href='/v1/self-backend/shoppingcart') shoppingcart
  br
  a(href='/v1/blog/posts') posts